* {
    background-color: #F5F5F5;
}


.cartPage{
    opacity: 1;
    /* display: flex;
    flex-direction: column; */
    margin-left:100px;

    display: grid;
    grid-template-columns: 68% 32%;
}

.cartTitle{
    font: var(--unnamed-font-style-normal) normal 600 17px/20px var(--unnamed-font-family-segoe-ui);
    text-align: left;
    font: normal normal 600 17px/20px Segoe UI;
    letter-spacing: -0.17px;
    color: #88A85D;
    opacity: 1;
    margin-bottom: 40px;
}

.cartBox{
    width: 300px;
    /* height: 113px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-bottom: 100px;
  
}

.cartImage{
    background: transparent 0% 0% no-repeat padding-box;
    box-shadow: 7px 7px 11px #00000029;
    opacity: 1;
    width: 79px;
    height: 135px;
}

.bookTitleCart{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 17px/20px var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 17px/20px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.genre{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-10)/20px var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 10px/20px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.description{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-10)/var(--unnamed-line-spacing-12) var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-808083);
    text-align: left;
    font: normal normal normal 10px/12px Segoe UI;
    letter-spacing: 0px;
    color: #808083;
    opacity: 1;
}

.quantity{
    border: 1px solid #88A85D;
    border-radius: 5px;
    opacity: 1;
}
.line{
    background: #DDDDDD 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 746px;
    height: 2px;
}
.leftLine{
    /* background: #88A85D 0% 0% no-repeat padding-box; */
    background-color: #88A85D;
    opacity: 1;
    width: 15px;
    height: 113px;
    margin-left: 130px;
    display: flex;
    flex-direction: row;
}
.deleteButton{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 13px/23px Myriad Pro;
    text-align: left;
    font: normal normal normal 13px/23px Myriad Pro;
    letter-spacing: 0.25px;
    color: #88A85D;
    opacity: 1;

}

.cartFinalBox{
    background: #F3F3F3 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    opacity: 1;
    width: 290px;
    height: 151px;
    margin-top: 120px;

}

.proceedChck{
    background: #88A85D 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 13px/14px var(--unnamed-font-family-segoe-ui);
    text-align: center;
    font: normal normal normal 13px/14px Segoe UI;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 5px;
}

.addMoreBox{
    border: 1px solid #88A85D;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 15px/17.35px var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 15px/17px Segoe UI;
    letter-spacing: 0px;
    color: #88A85D;
    opacity: 1;
    width: 185px;
}

.subtotal{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 17px/14px var(--unnamed-font-family-segoe-ui);
    text-align: left;
    font: normal normal normal 17px/14px Segoe UI;
    letter-spacing: 0.2px;
    color: #000000;
    opacity: 1;
    padding: 5px;
}
.subtotalValue{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 17px/14px var(--unnamed-font-family-segoe-ui);
    text-align: left;
    font: normal normal normal 17px/14px Segoe UI;
    letter-spacing: 0.2px;
    color: #4B8300;
    opacity: 1;
    padding: 2px;

}

.total{
    font: var(--unnamed-font-style-normal) normal bold 17px/14px var(--unnamed-font-family-segoe-ui);
    text-align: left;
    font: normal normal bold 17px/14px Segoe UI;
    letter-spacing: 0.2px;
    color: #000000;
    opacity: 1;
    padding: 5px;

}
.totalValue{
    font: var(--unnamed-font-style-normal) normal bold 17px/14px var(--unnamed-font-family-segoe-ui);
    text-align: left;
    font: normal normal bold 17px/14px Segoe UI;
    letter-spacing: 0.2px;
    color: #4B8300;
    opacity: 1;
    padding: 2px;

}
.cartItem{
    /* display: flex; */
    display: flex;
    flex-direction: row;}

.parent{
    /* display: grid;
    grid-template-columns: 400 200px;
    grid-template-rows: 80px; */

    display: flex;
    flex-direction: row;
    margin-top: 100px;
    
}

