.checkout{
    text-align: left;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-left: 140px;
  }
  .orderBox{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #0000001A;
    opacity: 1;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    width: 460px;
    /* display: grid;
    grid-template-columns: 50% 20% 30% */
}
  .checkoutIcon{
    width: 30px;
    height: 28px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .checkoutTitle{
      text-align: left;
      font: normal normal normal 15px/20px Segoe UI;
      letter-spacing: 0.7px;
      color: #000000;
      opacity: 1;
  }
  .checkoutText{
    text-align: left;
    font: normal normal normal 12px/16px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  .inL
  {
  flex-direction: column;
   margin-top: 50px;
   margin-left: 100px;
  }

 .allBooks{
  position: relative;
  margin-top: 1.5%;
} 
  .buttons{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
  }